:root {
    --insert: none;
}
body {
    margin: 20px;
}
#c1 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    border: 1px solid black;
    padding: 4px;
}
#_drawing {
    width: fit-content;
    font-family: monospace;
    line-height: 15px;
    white-space: pre;
    margin: 0;
    user-select: none;
    padding: 4px;
    border: 2px solid black;
    border-radius: 8px;
}
#_character {
    font-family: monospace;
    display: inline;
    border: 2px solid black;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
#_insertText{
    outline: 2px solid black;
    display: inline;
    background-color: white;
}
#_drawing[data-insert] > *:hover {
    outline: 2px solid black;
    animation: blink 1s infinite linear;
}
@keyframes blink {
    0%{outline: 2px solid black}
    49%{outline: 2px solid black}
    50%{outline: none}
    100%{outline: none}
}
#_timeline {
    overflow-x: scroll;
    border: 1px solid black;
    padding: 4px;
}
#_timeline_layers {
    display: flex;
    flex-direction: column-reverse;
}
#_timeline_numbers {
    display: grid;
    grid-auto-flow: column dense;
    grid-auto-columns: 20px;
    height: fit-content;
    counter-reset: timeline-number;
}
#_timeline_numbers > div {
    font-size: small;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: timeline-number 1;
}
#_timeline_numbers > div::after {
    content: counter(timeline-number);
}
.layer {
    display: grid;
    grid-auto-flow: column dense;
    grid-auto-columns: 20px;
    height: fit-content;
}
.layer > div {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline-selected {
    background-color: lightblue;
}
.timeline-selected-same-row {
    background-color: rgb(235, 254, 255);
}
.timeline-selected-same-column {
    background-color: rgb(216, 236, 255);
}
#_navigation_container {
    border: 1px solid black;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
#_play {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 10px;
    border: 1px solid black;
    border-radius: 0px;
}
#_play[checked = "true"] {
    background-image: url("../res/pause.svg");
}
#_play[checked = "false"] {
    background-image: url("../res/play.svg");
}
[name = "tools"] {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: 50%;
}
[name = "tools"][checked = "true"] {
    background-color: lightblue;
}
[name = "tools"][checked = "false"] {
    background-color: white;
}
#_tools_insert {
    background-size: 40%;
    background-image: url(../res/i-cursor.svg);
}
#_tools_brush {
    background-size: 80%;
    background-image: url(../res/paintbrush.svg);
}